{{- if not .IsHome -}}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
    {
      "@type": "ListItem",
      "position": 1,
      "name": {{ .Site.Title | jsonify }},
      "item": {{ .Site.BaseURL | jsonify }}
    }
    {{- if .Section }},
    {
      "@type": "ListItem",
      "position": 2,
      "name": {{ .Section | title | jsonify }},
      "item": {{ printf "%s%s/" .Site.BaseURL .Section | jsonify }}
    }
    {{- end }}
    {{- if eq .Kind "page" }},
    {
      "@type": "ListItem",
      "position": {{ if .Section }}3{{ else }}2{{ end }},
      "name": {{ .Title | jsonify }},
      "item": {{ .Permalink | jsonify }}
    }
    {{- end }}
    {{- if eq .Kind "taxonomy" }},
    {
      "@type": "ListItem",
      "position": {{ if .Section }}3{{ else }}2{{ end }},
      "name": {{ printf "%s: %s" .Type (.Title | title) | jsonify }},
      "item": {{ .Permalink | jsonify }}
    }
    {{- end }}
  ]
}
</script>
{{- end -}}
